<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Hi, I'm Angad, and this is my Blog ✍️</h2>
    <p>
      I created this blog website to practice writing server-side code using <a href="https://nodejs.org/en/">Node.js</a> and <a href="http://expressjs.com/">Express</a>.
      I also used <a href="https://www.mongodb.com/">MongoDB</a> to make it into a simple <strong>CRUD</strong> application, where new blogs can be created, and existing blogs can be viewed/deleted.
    </p>
    <br>
    <p>
      I might extend this app in the future and add more features to practice my development skills. In the meantime, thank you for checking it out!
    </p>
    <br>
    <p>Tutorial Credits -- <a href="https://netninja.dev/">TheNetNinja</a></p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>